Repository evmos/cosmos-sdk, pull requests merged in 2023-02, with the labels that each got.

#6 chore(deps): Bump SDK to `v0.46.9`
  .github/workflows/release.yml
  CHANGELOG.md
  RELEASE_NOTES.md
  baseapp/options.go
  crypto/hd/hdpath.go
  crypto/keys/secp256k1/secp256k1.go
  crypto/keys/secp256k1/secp256k1_internal_test.go
  crypto/keys/secp256k1/secp256k1_nocgo.go
  crypto/keys/secp256k1/secp256k1_nocgo_test.go
  crypto/keys/secp256k1/secp256k1_test.go
  crypto/keys/utils.go
  crypto/ledger/ledger_mock.go
  crypto/ledger/ledger_notavail.go
  crypto/ledger/ledger_secp256k1.go
  docs/.vuepress/config.js
  go.mod
  go.sum
  server/config/config.go
  server/config/toml.go
  server/mock/store.go
  server/rosetta/converter.go
  server/start.go
  server/util.go
  store/cachekv/internal/btree.go
  store/cachekv/store.go
  store/cachekv/store_test.go
  store/iavl/store.go
  store/iavl/tree.go
  store/rootmulti/store.go
  store/types/store.go
  x/evidence/client/cli/query.go
  x/staking/genesis.go
Labels: C:x/evidence, C:x/staking, Type: CI, C:CLI, C:Store

#7 chore(imp) improve cli error messages
  baseapp/recovery.go
  x/auth/ante/setup.go
Labels: C:x/auth

#8 imp(cli): add 'auto' option for fees flag
  CHANGELOG.md
  client/cmd.go
  client/flags/flags.go
  client/flags/flags_test.go
  client/tx/factory.go
Labels: C:CLI

#12 feat(cli/api): add validator distribution info grpc gateway get endpoinint (#13144)
  CHANGELOG.md
  proto/cosmos/distribution/v1beta1/query.proto
  store/rootmulti/store.go
  x/distribution/client/cli/query.go
  x/distribution/client/testutil/grpc_query_suite.go
  x/distribution/client/testutil/suite.go
  x/distribution/keeper/grpc_query.go
  x/distribution/types/query.pb.go
  x/distribution/types/query.pb.gw.go
Labels: C:CLI, C:Store, C:x/distribution

#11 chore: merge release/v0.46.x changes into ledger/v0.46.x branch
  CHANGELOG.md
  baseapp/abci.go
  go.mod
  proto/cosmos/distribution/v1beta1/query.proto
  server/start.go
  server/util.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  x/distribution/client/cli/query.go
  x/distribution/client/testutil/grpc_query_suite.go
  x/distribution/client/testutil/suite.go
  x/distribution/keeper/grpc_query.go
  x/distribution/types/query.pb.go
  x/distribution/types/query.pb.gw.go
  x/upgrade/types/storeloader_test.go
Labels: C:CLI, C:Store, C:x/upgrade, C:x/distribution

#16 fix: (cli) set `--fees` flag default value to empty string
  CHANGELOG.md
  client/cmd.go
  client/flags/flags.go
Labels: C:CLI
