Repository evmos/cosmos-sdk, pull requests merged in 2023-03, with the labels that each got.

#21 feat: add CancelUnbondingDelegation authz
  proto/cosmos/staking/v1beta1/authz.proto
  x/staking/types/authz.go
  x/staking/types/authz.pb.go
  x/staking/types/authz_test.go
Labels: C:x/staking

#22 fix(cli): revert fees `auto` flag
  CHANGELOG.md
  client/cmd.go
  client/flags/flags.go
  client/tx/factory.go
Labels: C:CLI

#23 fix(cli): revert fees auto flag (Backport #22)
  CHANGELOG.md
  client/cmd.go
  client/flags/flags.go
  client/tx/factory.go
Labels: C:CLI

#29 fix: add Querier to distribution module
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/querier.go
  x/distribution/module.go
Labels: C:x/distribution

#20 Increase DefaultGasAdjustment to fix --gas=auto interaction
  client/flags/flags.go
Labels: C:CLI
